# .env.example
DEBUG=True
SECRET_KEY=replace-this-with-real-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_NAME=db.sqlite3

# ←←← НОВЫЕ СТРОКИ ДЛЯ CSRF И БЕЗОПАСНОСТИ ←←←
# CSRF_TRUSTED_ORIGINS=https:....,http://....

# Рекомендую включить (для безопасности на HTTPS)
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True
# SECURE_SSL_REDIRECT=False   # ← если пока без HTTPS, ставь False